
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

/*HEAD START*/
.header-bar{
    position: fixed;
    width: 111.33333333333334%;
    height: 20px;
    background-color: #098744;
    border: 1px solid #098744;
    color: white;
    list-style: none;
    z-index: 1000000;
}
.panel-footer{
    padding: 15px;
}

h1{
    margin-left: 280px;
    margin-top: 10px;
    font-size: 32px;
}
#banner{
    background: linear-gradient(rgba(20, 20, 20, 0.765),#13121296), url(../img/aasmnhs.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    height: 650px;
    margin-top: -50px;
    
}
@media (max-width: 768px) {
    #banner {
        background: linear-gradient(rgba(20, 20, 20, 0.765),#13121296), url(../img/aasmnhs.png);
        background-size: cover;
        background-position: top center;
        position: relative;
        width: 414px;
        height: 669px;
        margin-top: -50px;
    }
}
img{
 width: 350px;
 height: 350px;
 margin-top: 180px;
 margin-left: 470px;
}

header2{
   
   background:#098744;
   box-shadow: 0 5px 10px rgba(0, 0, 0, .1) ;
   padding: 15px 645px;
   display: flex; 
   margin-left: -230px ;
   z-index: 1000;
   border: black;
   height: 50px;
   border-radius: 1px;
   width: 100%;
   border: 1px solid #098744;
}
/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    header2 {
        padding: 15px 187px;
        margin-left: -31px;
        width: 415px;
    }
 }
 
.navbar ul{
    list-style: none;

}

.navbar ul li{
  align-items: center;
   float: left;
   margin-left: 90px;
   border: 1px solid #098744;
   padding: -3px;
}
.navbar ul li a{
    font-size: 14px;
    padding: 16px;
    color: white;
    display: block;
}
.navbar ul li a:hover{
    
    background: #4bb45b;
    color: black;
}

/*CONTACT*/
#contact{
    width: 100%;
    padding: 70px 0;
}

.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info small{
    color: #098744;
}
.contact-col:hover{
    transform: translateY(-7px) ;

}



  /*FOOTER*/
  #footer{
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
  }
  @media (max-width: 768px) {
    #footer {
        padding: 60px 0 20px; /* Adjust the padding for mobile devices */
    width: 414px;
    }
}

  
  .footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-left, .footer-right{
        flex-basis: 45%;
        padding: 10px;
        margin-bottom: 20px;
  }
  .footer-right{
    text-align: right;
  }
  .footer-row h11{
    margin: 10px 0;

  }

.footer-row p{
  line-height: 35px;

  
}
.footer-left .fa, .footer-right .fa{
    font-size: 20px;
    color: black ;
    margin: 10px;
}
.footer-img{
    max-width: 370px;
    opacity: 0.3;
    position: absolute;
    margin-left: 1px;
    margin-top: 60px;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);

}
.social-links{
    text-align: center;
}
.social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #098744;
    margin: 40px 5px 0;
    color: #098744;
    cursor: pointer;
    transition: .5s;
}
.social-links .fa:hover{
    background: #098744;
    color:white;
    transform: translateY(-7px);
}
.social-links p{
    font-size: 12px;
    margin-top: 20px;
}
